.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .contactDetails{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactForm{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form{
            width: 80%;
        }
    }

}