.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .contactDetails{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            margin-bottom: 2rem;
        }

        li{
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

    .contactForm{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

}